<!-- FROM Bootstrap templates -> https://startbootstrap.com/snippets/portfolio-two-column/ -->

<!-- Page Content -->
<div class="container">

	<!-- Page Heading -->
	<h1 class="my-4" style="color: #FB8B50;">Novidades</h1>

	<div class="row">
		<div class="col-lg-6 mb-4">
			<div class="card h-100">
				<a href="https://br.aigrejadejesuscristo.org/ajustes-temporarios-adicionais-no-servico-missionario?lang=por-br">
					<img class="card-img-top responsive-image-sizes" src="https://content.churchofjesuschrist.org/acp/bc/brazil/1200x675/anuncio-ajuste-servico-missionario-coronavirus.jpg" alt=""></a>
				<div class="card-body">
					<h4 class="card-title">
						<a href="https://br.aigrejadejesuscristo.org/ajustes-temporarios-adicionais-no-servico-missionario?lang=por-br">Ajustes temporários adicionais no serviço missionário</a>
					</h4>
					<p class="card-text">Nas próximas semanas, um número considerável de missionários provavelmente 
						precisará retornar para seu país de origem para continuar seu serviço missionário. 
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-4">
			<div class="card h-100">
				<a href="https://br.aigrejadejesuscristo.org/ajustes-temporarios-realizados-na-adoracao-nos-templos-em-todo-o-mundo?lang=por-br">
					<img class="card-img-top responsive-image-sizes" src="https://content.churchofjesuschrist.org/acp/bc/brazil/800x500/Anuncio-Primeira-Presidencia-Templos-Templo-Fortaleza.jpg" alt="">
				</a>
				<div class="card-body">
					<h4 class="card-title">
						<a href="https://br.aigrejadejesuscristo.org/ajustes-temporarios-realizados-na-adoracao-nos-templos-em-todo-o-mundo?lang=por-br">Ajustes temporários realizados na adoração nos templos em todo o mundo</a>
					</h4>
					<p class="card-text">
						As mudanças terão efeito a partir de 16 de março de 2020 em todos os templos no mundo.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->