<!-- Page Content -->
<div class="container">
	<!-- Page Heading -->
	<h2 class="my-4">Agenda</h2>

	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title">
						<a href="#">Atividade Mãos que Ajudam</a>
					</h4>
					<p class="card-text">Doação de Mascaras no dia <strong>18 de julho</strong> à comunidade.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title">
						<a href="#">Conferência Geral</a>
					</h4>
					<p class="card-text">Nos dias <strong>03 e 04 de outubro</strong> teremos nossa Conferência Geral.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title">
						<a href="#">FSY</a>
					</h4>
					<p class="card-text">Para todos os jovens, rapazes e moças, de 14 à 18 anos.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title">
						<a href="#">Atividade de Casais</a>
					</h4>
					<p class="card-text">Em <strong>agosto</strong>, fique atento para mais informações.</p>
				</div>
			</div>
		</div>
	</div>
</div>