<footer class="page-footer font-small pt-4" style="background-color: #f8f9fa!important; margin-top: 50px;">
	<div class="container-fluid text-center text-md-left" style="padding: 0px 35px;">
		<div class="row">
			<div class="col-md-6 mt-md-0 mt-3">
				<h5 class="text-uppercase">Estaca Montese</h5>
				<p>Rua Elvira Pinho, 220, Montese, Fortaleza-Ce</p>
			</div>
			<hr class="clearfix w-100 d-md-none pb-3">
			<div class="col-md-3 mb-md-0 mb-3">
				<h5 class="text-uppercase">Instagram</h5>
				<ul class="list-unstyled">
					<li>
						<a href="https://instagram.com/juventudesudmontese?igshid=145zeckm37otm">Juventude</a>
					</li>
					<li>
						<a href="https://instagram.com/jas_montese?igshid=koj499319a8x">Adultos Solteiros</a>
					</li>
					<li>
						<a href="https://instagram.com/estacamontese?igshid=1bx8dqh20lyih">Estaca Montese</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 mb-md-0 mb-3">
				<h5 class="text-uppercase">Outras Midias</h5>
				<ul class="list-unstyled">
					<li>
						<a href="https://www.facebook.com/igrejadejesuscristo.brasil">Facebook</a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UC7rB9GBNYkffQvlykET7FXQ/featured">Youtube</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a href="https://estacamontese.herokuapp.com/"> Estaca Montese </a>
	</div>
	<!-- Copyright -->
</footer>